<div class="pf-widget-container">
	<div class="pf-va-middle">
		<div class="pf-widget-content">
			<a class="pf-widget-close">&times;</a>
			<h2 class="pf-widget-headline"></h2>
			<div class="pf-widget-body">
				<div class="pf-va-middle">
					<p class="pf-widget-message"></p>
					<form>
						<button type="submit" class="pf-widget-btn pf-widget-ok">X</button>
						<span>
							<input name="email" type="email" required>
						</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>