<div class="pf-widget-container">
  <div class="pf-va-middle">
    <div class="pf-widget-content">
      <a class="pf-widget-close">&times;</a>
      <h2 class="pf-widget-headline"></h2>
      <div class="pf-widget-body">
        <div class="pf-va-middle">
          <p class="pf-widget-message"></p>
          <a class="pf-content-unit"></a>
          <a class="pf-widget-btn pf-widget-ok">Confirm</a>
          <a class="pf-widget-btn pf-widget-cancel">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>