.pf-widget-modal.yorkie {
  text-align: left;
  /* Opened State Styles */
  /* Variant Styles */
  /* Type Styles */
}
.pf-widget-modal.yorkie .pf-widget-btn {
  font-family: latoblack, Arial, Helvetica, sans-serif;
  color: white;
  background-color: #01a1b1;
  border-radius: 10px;
}
.pf-widget-modal.yorkie .pf-widget-content {
  background-image: url("https://storage.googleapis.com/lioservices/1432-purina/Yorkie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 40em;
  padding-right: 13em;
  font-family: latoregular, Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 736px), screen and (max-height: 640px) {
}
.pf-widget-modal.yorkie .pf-widget-headline {
  font-family: latoblack, Arial, Helvetica, sans-serif;
  margin-top: 30px;
  color: #01a1b1;
}
.pf-widget-modal.yorkie .pf-widget-message {
  font-size: 16px;
  margin: 0 0 10px 0;
  color: black;
}
/* Default widget styles */
@media screen and (max-width: 736px), screen and (max-height: 640px) {
}
.pf-widget.yorkie input[type=text]:-moz-placeholder,
.pf-widget.yorkie input[type=email]:-moz-placeholder,
.pf-widget.yorkie select:-moz-placeholder,
.pf-widget.yorkie textarea:-moz-placeholder {
  /* Firefox 18- */
}
.pf-widget.yorkie input[type=text]::-moz-placeholder,
.pf-widget.yorkie input[type=email]::-moz-placeholder,
.pf-widget.yorkie select::-moz-placeholder,
.pf-widget.yorkie textarea::-moz-placeholder {
  /* Firefox 19+ */
}
.pf-widget.yorkie .pf-widget-close {
  font-size: 40px;
  top: .1em;
  left: .3em;
  color: #f9ac41;
  font-weight: 300;
}
@media screen and (max-width: 736px), screen and (max-height: 640px) {
}
/* Variant Styles */
/* Type Styles */
/* overall font and background for area outside modal */
.purina-just-right.pf-widget {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.75);
}
/* Start modal styling â€“ background image URL to be added*/
.purina-just-right.pf-widget-modal .pf-widget-content {
  background-color: #F8F7F5;
  background-image: url('https://storage.googleapis.com/purina-personalize/just-right-163/background.jpg');
  background-size: 600px 182px;
  background-position: bottom center;
  background-repeat: no-repeat;
  border-radius: 10px;
  max-width: 600px;
  padding: 40px 40px 150px;
  /*  40px is desired around left, top, and right. Bottom may need adjustment based on background image */
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 50px 0;
}
/* Close Icon */
.purina-just-right.pf-widget .pf-widget-close {
  color: #F7971D;
  font-size: 30px;
}
/* Styling for "We're Glad You're Here." */
.purina-just-right.pf-widget h2.pf-widget-headline {
  color: #006064;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1;
  margin: 0 auto 8px;
  letter-spacing: 0.5px;
}
/* Styling for "Let us share with you our latest offers and info from dog nutrition experts." */
.purina-just-right.pf-widget p {
  color: #625451;
  font-size: 17px;
  line-height: 24px;
  margin: 0 auto 10px;
  max-width: 330px;
}
/* Form Field Area */
.purina-just-right.pf-widget .pf-custom-form {
  margin-top: 20px;
}
/* Email and Dog Name input fields */
.purina-just-right.pf-widget input {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width: 420px;
  display: block;
  height: 50px;
  margin: 10px auto 10px auto;
  box-shadow: rgba(61, 54, 51, 0.3) 0px 1px 3px 0px inset;
  color: #0097a7;
}
/* Email and Dog Name input field focus */
.purina-just-right.pf-widget input:focus {
  box-shadow: rgba(61, 54, 51, 0.5) 0px 1px 3px 0px inset;
}
/* Email and Dog Name input field placeholder */
.purina-just-right.pf-widget input::-webkit-input-placeholder,
.purina-just-right.pf-widget input::-moz-placeholder,
.purina-just-right.pf-widget input:-ms-input-placeholder,
.purina-just-right.pf-widget input:-moz-placeholder {
  color: #625451;
  color: rgba(98, 84, 81, 0.5);
}
/* Email and Dog Name input field eror state */
.purina-just-right.pf-widget form:not(.pf-custom-form) [data-required=true].invalid {
  border: 1px solid #F7971D;
}
/* "Enjoy" submit button */
.purina-just-right.pf-widget .pf-widget-btn.pf-widget-ok {
  background-color: #0097A7;
  color: #F8F7F5;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0 20px;
  line-height: 50px;
  margin: 20px auto 0 auto;
  display: block;
}
/* "Enjoy" submit button hover */
.purina-just-right.pf-widget .pf-widget-btn.pf-widget-ok:hover {
  background: #00BCD4;
}
.purina-just-right.pf-widget .branding {
  display: none;
}
.purina-just-right.pf-widget .pf-widget-cancel {
  display: none;
}
/* Add spacing on sides so modal does not touch edges */
@media screen and (max-width: 800px) {
  .purina-just-right.pf-widget-modal .pf-widget-content {
    max-width: 90%;
  }
}