<!DOCTYPE html>
<html>
<head>
<title>Pathfora Example</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

<style>
{{{css}}}
</style>
</head>

<body class="example">

{{{html}}}

<script src="https://c.lytics.io/api/tag/0d47e6304d12858905b4f111090a68a1/lio.js"></script>
<script src="http://c.lytics.io/static/pathfora.min.js"></script>

<script>
{{{config}}}
</script>

</body>
</html>
