<!DOCTYPE html>
<html>
<head>
<title>Pathfora Example</title>

<style>
</style>
</head>

<body class="example">
<!-- <h2 class="myElementClass">Pathfora Example</h2> -->

<script src="https://api.lytics.io/api/tag/0d47e6304d12858905b4f111090a68a1/lio.js"></script>
<script src="http://localhost:8080/dist/pathfora.min.js"></script>

<script>
{{{config}}}
</script>

</body>
</html>
