.section img {
  width: 80%;
  margin: 0 auto 10px;
}

@media (max-width: 768px) {
  .section img {
    width: 100%;
  }
}

.section hr {
  margin: 40px 0;
}

h2 {
  margin: 50px 0 10px 0;
}

h3 {
  color: #404040;
  margin-top: 30px;
}

h3 a {
  font-size: 14px;
}

table {
  width: 100%;
}