<div class="pf-widget-container" role="dialog" aria-labeledby="pf-widget-headline" aria-describedby="pf-widget-message" aria-modal="true">
  <div class="pf-va-middle">
    <div class="pf-widget-content">
      <h2 class="pf-widget-headline" id="pf-widget-headline"></h2>
      <div class="pf-widget-body">
        <div class="pf-va-middle">
          <p class="pf-widget-message" id="pf-widget-message"></p>
          <div class="pf-sitegate-social-plugins pf-social-login">
            <p name="fb-login" hidden></p>
            <p name="google-login" hidden></p>
          </div>
          <form>
            <input name="username" type="text" aria-label="Name">
            <input name="email" type="email" aria-label="Email">
            <input class="pf-field-half-width" name="title" type="text" aria-label="Title">
            <input class="pf-field-half-width" name="company" type="text" aria-label="Company">
            <input class="pf-field-half-width" name="phone" type="text" aria-label="Phone">
            {{country}}
            <input class="pf-field-half-width" name="referralEmail" type="text" aria-label="Referral Email">
            <textarea name="message" rows="5" aria-label="Message"></textarea>
            <button type="submit" class="pf-widget-btn pf-widget-ok">Confirm</button>
            <button type="button" class="pf-widget-btn pf-widget-cancel">Cancel</button>
          </form>
          <div class="pf-widget-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
