<div class="pf-widget-container">
  <div class="pf-va-middle">
    <div class="pf-widget-content">
      <h2 class="pf-widget-headline"></h2>
      <div class="pf-widget-body">
        <div class="pf-va-middle">
          <p class="pf-widget-message"></p>
          <div class="pf-social-login">
            <p name="fb-login" hidden></p>
            <p name="google-login" hidden></p>
          </div>
          <form>
            <input name="username" type="text">
            <input name="email" type="email">
            <input class="pf-field-half-width" name="title" type="text">
            <input class="pf-field-half-width" name="company" type="text">
            <input name="phone" type="text">
            {{country}}
            <textarea name="message" rows="5"></textarea>
            <button type="submit" class="pf-widget-btn pf-widget-ok">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>