.pf-widget.pf-twitter-module {
  background-color: #4a4a4a;
  color: #fff;
  border-radius: 0px;
  box-shadow: none;
  font-family: Roboto, Arial, 'sans-serif';
}

/* message paragraph */
.pf-widget.pf-twitter-module .pf-widget-message {
  font-size: 15px;
  line-height: 1.7;
}

/* headline */
.pf-widget.pf-twitter-module .pf-widget-headline {
  color: #39aec0;
  font-size: 28px;
}

/* "x" button */
.pf-widget.pf-twitter-module .pf-widget-close {
  color: #39aec0;
}

/* buttons */
.pf-widget.pf-twitter-module .pf-widget-btn {
  border-radius: 0px;
  padding: 1px 25px;
}

/* confirm button */
.pf-widget.pf-twitter-module .pf-widget-btn.pf-widget-ok {
  background-color: #1b91a7;
  color: #fff;
  box-shadow: none;
}

/* cancel button */
.pf-widget.pf-twitter-module .pf-widget-btn.pf-widget-cancel {
  border: 1px solid #6a6a6a;
}

/* img */
.pf-widget.pf-twitter-module .pf-widget-img {
  border-radius: 0px;
}