/* Pushdown Styles */
.pf-push-down {
  transition: margin-top .3s;
  margin-top: 0;

  &.opened {
    margin-top: 55px;
  }
}

.pf-widget-bar {
  height: auto;
  padding: 10px 0;
  height: 55px;
  left: 0; right: 0;
  .pf-box-shadow();

  .pf-widget-body {
    margin: 0 20px;
    float: left;

    img {
      height: 35px;
      width: 35px;
      position: absolute;
    }
  }

  .pf-widget-close {
    top: 13px;
    right: 0;
    margin-right: 20px;
  }

  .pf-widget-btn {
    line-height: 35px;
  }

  .pf-bar-content {
    text-align: center;

    .pf-widget-message {
      max-width: 50%;
      margin-top: 0;
      margin-bottom: 0;
      white-space: normal;
    }

    input[type=text],
    input[type=email] {
      margin: 0 0 0 16px;
      width: 200px;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  /* Position Styles */
  &.pf-position-top-absolute,
  &.pf-position-bottom-absolute {
    position: absolute;
  }

  &.pf-position-top-absolute,
  &.pf-position-top-fixed {
    top: -50px;

    .pf-bar-content {
      padding-top: 0px;
    }
  }

  &.pf-position-bottom-fixed {
    bottom: -50px;
  }

  &.pf-position-bottom-fixed,
  &.pf-position-top-fixed {
    position: fixed;
  }

  /* Opened State Styles */
  &.opened {
    &.pf-position-top-absolute {
      top: 0;
    }

    &.pf-position-bottom-fixed {
      bottom: 0;
    }

    &.pf-position-top-fixed {
      top: 0;
    }
  }

  /* Type Specific Styles */
  &.pf-message {
    .pf-widget-message {
      margin-right: 40px;
    }
  }

  &.pf-subscription {
    form {
      width: auto;

      .pf-widget-btn {
        margin-top: 0;
      }
      input[type=email]{
        height: 35px;
      }
    }
  }
}