.pf-widget-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 9999;
  text-align: center;

  .pf-va-middle {
    display: table-cell;
    vertical-align: middle;
  }

  .pf-widget-btn {
    font-size: 16px;
    line-height: 45px;
  }

  .pf-widget-container {
    display: table;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: -100vh;
    transition: all .3s;
  }

  .pf-widget-content {
    width: auto;
    position: relative;
    max-width: 780px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    .pf-box-shadow();
    transition: all .3s;
  }

  .pf-widget-headline {
    font-size: 28px;
  }

  .pf-widget-message {
    font-size: 18px;
    margin: 0 0 30px 0;
  }

  .pf-widget-body {
    display: table;
    width: 100%;
  }

  form {
    input[type="text"],
    input[type="email"],
    textarea {
      font-size: 16px;
    }

    input[type="text"],
    input[type="email"] {
      height: 45px;
    }
  }

  /* Opened State Styles */
  &.opened {
    .pf-widget-container {
      top: 0;
    }
  }

  /* Variant Styles */
  &.pf-widget-variant-2 {
    .pf-widget-headline {
      margin-top: 140px;
    }

    .pf-widget-img {
      float: none;
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -70px;
      width: 140px;
      height: 140px;
    }
  }

  &.pf-widget-variant-3 {
    .pf-content-unit {
      width: 95%;
      margin: 0 auto 30px;
      min-height: 135px;

      .pf-content-unit-img {
        position: absolute;
        display: block;
        height: 100%;
        width: 40%;
      }

      .pf-content-unit-meta {
        padding: 15px 15px;
        display: block;
        width: 60%;
        margin: 0 0 0 auto;

        h4 {
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
