.pf-widget-slideout {
  position: fixed;
  bottom: 50px;
  width: 350px;
  border-radius: 4px;
  .pf-box-shadow();
  top: auto;
  max-height: 100%;
  overflow: auto;

  @media screen and (max-width: 480px) {
    width: 100%;
    max-width: 350px;
  }

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  .pf-widget-message {
    margin: 0 0 20px 0;
  }

  .pf-widget-btn {
    line-height: 40px;
  }

  .pf-widget-content {
    padding: 30px;
    min-width: 350px;

    @media screen and (max-width: 350px) {
      width: 100%;
      min-width: initial;
    }
  }

  .pf-widget-headline {
    font-size: 20px;
  }

  @media screen and (max-width: 480px) {
    bottom: 0;
    left: 0;
    overflow-y: auto;
  }


  /* Position Styles */
  &.pf-position-bottom-left,
  &.pf-position-left {
    transition: left 0.3s;
    left: -100%;

    &.pf-origin-bottom {
      left: 50px;
      bottom: auto;
    }
  }

  &.pf-position-bottom-right,
  &.pf-position-right {
    transition: right 0.3s;
    right: -100%;

    &.pf-origin-bottom {
      right: 50px;
    }
  }

  &.pf-origin-bottom {
    bottom: -100%;
    transition: bottom 0.3s;
  }


  /* Opened State Styles */
  &.opened {
    &.pf-position-bottom-left,
    &.pf-position-left {
      left: 50px;

      @media screen and (max-width: 480px) {
        left: 0;
      }
    }

    &.pf-position-bottom-right,
    &.pf-position-right {
      right: 50px;

      @media screen and (max-width: 480px) {
        right: 0;
      }
    }

    &.pf-origin-bottom {
      bottom: 50px;

      @media screen and (max-width: 480px) {
        bottom: 0;
      }
    }
  }

  /* Variant Styles */
  &.pf-widget-variant-1 {
    .pf-widget-content {
      .pf-widget-headline {
        text-align: left;
      }

      .pf-widget-message {
        text-align: left;
      }
    }
  }

  &.pf-widget-variant-2 {
    .pf-widget-content {
      text-align: center;

      .pf-widget-headline {
        margin-top: 110px;
      }
    }

    .pf-widget-img {
      width: 100px;
      height: 100px;
      float: none;
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -50px;
    }
  }

  &.pf-widget-variant-3 {
    .pf-content-unit {
      width: 100%;
      display: block;
      text-align: left;

      .pf-content-unit-meta {
        h4 {
          font-size: 14px;
        }

        p {
          font-size: 13px;
        }
      }

      .pf-content-unit-img {
        width: 100%;
        height: 135px;
      }
    }
  }

  /* Type Specific Styles */
  &.pf-form {
    width: 370px;

    @media screen and (max-width: 480px) {
      width: 100%;
      max-width: 370px;
    }
  }
}
